<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />

    <permission
        android:name="com.vf6.launcher.permission.CONTROL"
        android:protectionLevel="signature" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:appCategory="game"
        android:label="VF6 Launcher"
        android:theme="@style/AppTheme">

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.CarActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|density|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.CAR_LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".bridge.CommandReceiver"
            android:exported="true"
            android:permission="com.vf6.launcher.permission.CONTROL">
            <intent-filter>
                <action android:name="com.vf6.launcher.action.COMMAND" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
